{% extends "base.html" %}

{% block content %}
<div>Provide user data to search (in json)</div>
<form id="search" method="post">
<p><textarea rows="10" cols="50" name="user_data"></textarea></p>
<p><input type="submit" value="search" /></p>
</form>
{% end %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $('#search').submit(function(e){
        var user_data = $('#search textarea').val();
        $.ajax({
          type: "POST",
          url: "",
          data: user_data,
          success: function(data){
                alert(data['winner']);
          },
          dataType: "json",
          contentType : "application/json"
        });
        return false;
    })
</script>
{% end %}
