{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" method="post">
<p>Campaign json file: <input type="file" name="campaign_data" /></p>
<p><input type="submit" value="upload" /></p>
</form>
{% end %}
